{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %} {{ category.name }} {% else %}Productos{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-4">
        <hr>
        <h3>Categorías</h3>
            <a href="{% url 'shop:product_list' %}" style="color:white;" {% if not category %}
               class="btn btn-primary btn-block"{%else%}
               class="btn btn-secondary btn-block"{% endif %}>Todas</a>

            {%for c in categories %}
                <a href="{{ c.get_absolute_url }}" style="color:white;" {% if category.slug == c.slug %}
                   class="btn btn-primary btn-block"{%else%}
                   class="btn btn-secondary btn-block"{% endif %}>{{ c.name}}</a>

            {% endfor %}
    </div>
    <div id="main" class="col-sm-12 col-md-8">
        <h1>{% if category %}{{ category.name}}{% else %}Productos{% endif %}</h1>
        <div class="row">
        {%for product in products %}
        <div class="col-md-6 col-sm-6 px-2">
        <div class="card" style="width: 18rem;">
            <a href="{{ product.get_absolute_url }}">
            <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}
                    {% else %}{% static 'img/no_image.png' %}{% endif%}" alt="Card image cap">
            </a>
            <div class="card-body">
                <a href="{{ product.get_absolute_url }}">
                <p class="card-text">{{ product.name }}</p>
                    <strong>${{ product.price}}</strong>
                </a>
            </div>
        </div>
        </div>
        {% endfor%}
        </div>
    </div>
</div>
{% endblock %}