{% extends "shop/base.html" %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<h1>Realizar pedido</h1>
<div class="order-info">
    <h3>Tu Pedido</h3>
    <ul>
        {% for item in cart %}
        <li>
            {{ item.quantity }}x {{ item.product.name }}
            <span>${{ item.total_price }}</span>
        </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}*</p>


        <span style="background:#ffff90;padding:3px;">*Costo de envio no incluido. Al hacer click en<strong> Hacer pedido </strong>seras contactado por telefono/whatsapp para confirmar tu pedido.
            No te preocupes si cambias de opinion<strong> Puedes retractarte </strong> cuando te contactemos.
        </span>

</div>
<form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Hacer pedido"></p>
    {% csrf_token %}
</form>
{% endblock %}