<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tapabocas GO {% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
    <!--fontawesome-->
    <link href="{% static 'fontawesome-free-5.11.2-web/css/all.css' %}" rel='stylesheet'/>
    <!--fontawesome-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="header">
        <a href="/" class="logo"><strong>Tapabocas GO</strong> <img src="{% get_media_prefix %}logo-go.png" height="30"> </a>

        <img class="float-right" src="{% get_media_prefix %}logo_mt.jpeg" height="48">
    </div>
    <div id="subheader">
        <div class="cart col-6 ">
            {% with total_items=cart|length %}
            <div class="float-right">
                {% if cart|length > 0 %}
                    Tu carrito:
                    <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} producto{{ total_items|pluralize }},
                     ${{ cart.get_total_price }}
                    </a>
                    {% else %}
                Tu carrito esta vacio.
                {% endif %}
            </div>
            {% endwith %}
        </div>
        <div class="col-6">
        <span>Ventas solo en la ciudad de <strong>Fusagasugá</strong></span>
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <span></span><img class="float-right" src="{% get_media_prefix %}lafayette_nbg.png" height="40"></span>
        <span>El<strong> PAGO </strong>se realiza contra-entrega. Te lo llevemos a tu casa
        o puedes recogerlo en nuestra fabrica.<br> <strong>Dirección:</strong>Transversal 12 # 16B - 32. Cerca Clinica Belen
        </span>
    </div>
    <!--ajax.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--ajax.js-->
    <!--sweet alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!--sweet alert-->
    <script src="{% static 'bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>